:root {
  --text: #000;
  --text-h: #000;
  --bg: #fff;
  --border: #000;
  --card: #cecece;
  --code-bg: #fff;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  } */

  /* #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */

body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
[data-theme="dark"]{

    --bg:hsl(0, 0%, 23%);
    --text:white;
    --card:#000;
    --text-h:#ffffff;
    --border: #ffff
}

.header{
    display: grid;
    grid-template-columns: 180px 1fr auto 60px;
    align-items: center;
    gap: 2rem;

    padding: 1rem 2rem;

    border-bottom: 1px solid #444;
    border-radius: 10px;
    box-shadow: #918c8c;
}

.web-title{
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
}

.search-box{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box input{
  border-radius: 20px;
  width: 80%;
  height: 20px;
  margin: 0px;
  padding: 15px 5px 15px 40px;
  font-size: 0.9rem;
  color: black;
  font-weight: 500;
}

.search-result{
  position: absolute;
  top: 100%;
  margin-top: 10px;
  width: 80%;
  justify-self: center;
  background: var(--bg);
  border: 1px solid #000;
  z-index: 1000;
  cursor: pointer;
  text-align: left;
  padding: 10px 10px;
}
.search-result ul{
    margin: 0;
    padding: 0;
}
.search-result li{
    padding: 10px 12px;
    cursor: pointer;
}

.search-result li:hover{
    background: var(--card);
}

/* Hero Section */
.category-container{
    display: flex;
    justify-content: center;
    gap: 30px;

    margin: 40px auto;
    width: 90%;
}

.data-theme button{
  background-color: transparent;
  display: flex;
  margin-right: 30px;
  justify-self: right;
  align-self: right;
  border: none;
  font-size: 1rem;
}

.category-card{
    flex: 1;

    height: 140px;

    border: 2px solid #383838;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    font-weight: 600;
    font-size: larger;
    transition: 0.25s;
}

.category-card h2{
    margin: 0;
    letter-spacing: 1px;
}

.category-card:hover{
    transform: translateY(-5px);
}

.category-card{
    border: 2px solid var(--border);
    color: var(--card);
    transition: 0.2s;
}

.buy.selected{
    color: #2ecc71;
    border-color: #2ecc71;
}

.hold.selected{
  color: #f39c12;
  border-color: #f39c12;
}

.sell.selected{
    color: #e74c3c;
    border-color: #e74c3c;
}

.accumulate.selected{
    color: #4d3ce7;
    border-color: #4d3ce7;
}

/* Cells */
.company-card{
    width:95%;
    margin:20px auto;
    border:1px solid #ccc;
    border-radius:12px;
    padding:18px;
    background: var(--bg);
}

.company-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.company-header h3{
    margin:0;
    font-size:22px;
}

.call.BUY{
    font-weight:700;
    color:#16a34a;
}
.call.HOLD{
    font-weight:700;
    color:#f39c12;
}
.call.SELL{
    font-weight:700;
    color:#e74c3c;
}
.call.ACCUMULATE{
    font-weight:700;
    color:#4d3ce7;
}

.summary-grid{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    margin:16px 0;
    text-align:center;
}

.summary-grid small{
    color: var(--text);
    display:block;
}

.summary-grid h4{
    margin:6px 0 0;
    font-size:18px;
}

.recommendation-preview{
    display:grid;
    grid-template-columns:120px 1fr 120px 80px 90px 40px;
    align-items:center;
    cursor:pointer;
    font-size:15px;
}

.arrow{
    text-align:right;
    font-size:18px;
    font-weight:bold;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

th,td{
    padding:10px;
    border-bottom:1px solid #ddd;
    text-align:center;
}

th{
    background: (var(--bg));
}