.header{
    display: grid;
    grid-template-columns: 180px 1fr auto 60px;
    align-items: center;
    gap: 2rem;
    padding: 2rem 2rem;
    border-bottom: 1px solid #444;
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: var(--bg);
}

.web-title{
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: var(--ink);
    font-family: var(--mono);
}

.search-box{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box input{
  border-radius: 20px;
  width: 80%;
  height: 20px;
  margin: 0px;
  padding: 15px 5px 15px 40px;
  font-size: 0.9rem;
  color: black;
  font-weight: 500;
}

.search-result{
  position: absolute;
  top: 100%;
  margin-top: 10px;
  width: 80%;
  justify-self: center;
  background: var(--bg);
  border: 1px solid #000;
  z-index: 1000;
  cursor: pointer;
  text-align: left;
  padding: 10px 10px;
}
.search-result ul{
    margin: 0;
    padding: 0;
}
.search-result li{
    padding: 10px 12px;
    cursor: pointer;
}

.search-result li:hover{
    background: var(--card);
}

.navbar{
    width: 20%;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    margin: 10px;
}
.navbar a{
    color: var(--text);
    margin-right: 10px;
    font-weight: 500;
    text-decoration: none;
}