[data-theme="dark"]{

    --bg: white;
    --text: black;
    --card : white;
    --text-h: black;
    --border: var(--line);
    --ink: black;
}

.data-theme button{
    color: var(--ink);
    font-size: 2rem;
}